PORT=5000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
MANDI_API_KEY=
MANDI_API_URL=https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070

# Razorpay Payment Gateway (Test Mode)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# AI Route Optimization ML Service
PYTHON_ROUTING_SERVICE_URL=
FUEL_PRICE_INR_LITRE=95
